---
title: About
---
<div class="editable">
	<h1>About</h1>

	<p>I'm Alex Ionescu and welcome to my food blog. This site contains recipes that I enjoyed cooking or eating and serves as a way to archive my recipes and also share them with others. Hope you enjoy!

</div>
